<div>
  <div class="text-center mt-5 mb-4">
    <h1 class="h3 mb-3 font-weight-normal">ユーザー一覧ページ</h1>
  </div>
  <div class="card card-body" style="width:450px">
    <div style="min-height:200px">
      <% @users.each do |user| %>
        <p class="h4 border-bottom"><%= link_to(user.hdl_name, "/users/#{user.id}") %></p>
      <% end %>
    </div>
  </div>
</div>
