<div>
  <div>ログイン</div>
  <div>
    <% if @error_message %>
      <%= @error_message %>
    <% end %>
    <%= form_tag("/login") do %>
        <p>ユーザID</p>
        <input name="user_id" value="<%= @user_id %>">
        <p>パスワード</p>
        <input type="password" name="password" value="<%= @password %>">
        <br>
        <input type="submit" value="ログイン">
    <% end %>
  </div>
</div>