<div class="text mt-5 mb-4">
  <div class="col-sm-12 mx-auto">
  <h1>YouTube動画編集依頼サイト</h1>
  <p>当サイトは動画編集の依頼を行うためのサイトです。</p>
    <p><%= link_to("投稿一覧", posts_path, {class: "btn btn-primary", role: "button"}) %></p>
    <p><%= link_to("ログイン >>", "/login", {class: "btn btn-primary", role: "button"}) %></p>
  </div>
</div>