<div>
  <div>投稿一覧ページ</div>
  <div>
    <% @posts.each do |post| %>
    <div>
      <%= post.title %><br>
      <%= post.user.hdl_name %><br>
      <%= link_to(post.content, "/posts/#{post.id}") %>
    </div>
    <% end %>
  </div>
  <div><%= link_to("投稿する", "/posts/new") %></div>
</div>